# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Rober\Desktop\HBG_LTH\År2\EDAF20 - Databasteknik\CrustyCookie\code\krusty-skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
